.trusted {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  flex-direction: column;
}

/* .trusted div img {
  margin: 0 60px;
} */

.trusted div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .trusted div img {
    width: 50px;
    margin: 10px;
  }
}
